<div class="container">
    <div class="row">
        <div class="col">
            <h5>Ideas</h5>
            <p>4 Tasks 0/0</p>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="my-3">
                <button type="button" class="btn btn-outline-dark w-100" (click)="addTask()">Add Task</button>
            </div>
        </div>
        <div class="col">
            <h5>Writing</h5>
            <p>4 Tasks 0/0</p>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col">
            <h5>Editing</h5>
            <p>4 Tasks 0/0</p>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col">
            <h5>Promoting</h5>
            <p>4 Tasks 0/0</p>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" ngClass="col-lg-3">
            <ng-container>
                <div>
                    <P>{{task?.task}}</P><br>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" #option>
                          <option selected>User Role</option>
                          <option value="userTwo">Two</option>
                          <option value="userThree">Three</option>
                          <option value="userFour">Four</option>
                        </select>
                        <label for="floatingSelect">Works with selects</label>
                      </div>
                    <button type="button" class="btn btn-outline-primary" (click)="addVote(option)">Approved</button>
                    <button type="button" class="btn btn-outline-danger" (click)="removeVote()">Rejected</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>
