_<div class="container">
    <div class="row">
        <div class="col">
            <h5>Ideas</h5>
            <p>4 Tasks 0/0</p>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="my-3">
                <button type="button" class="btn btn-outline-dark w-100" (click)="addTask()" *ngIf="task.stage==='Add Task'">Add Task</button>
            </div>
        </div>
        <div class="col">
            <h5>Writing</h5>
            <p>4 Tasks 0/0</p>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col">
            <h5>Editing</h5>
            <p>4 Tasks 0/0</p>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col">
            <h5>Promoting</h5>
            <p>4 Tasks 0/0</p>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <ng-container *ngIf="task?.stage === 'Add Task'">
                <div>
                    <P>{{task?.task}}</P><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userTwo"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userThree"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 3
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userFour"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 4
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline-primary" (click)="addVote({_id:task._id, stage:'To Writing'})">Approved</button>
                    
                </div>
            </ng-container>
        </div>
        <div class="col">
            <ng-container *ngIf="task?.stage === 'To Writing'">
                <div>
                    <P>{{task?.task}}</P><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userTwo"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userThree"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 3
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userFour"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 4
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline-primary" (click)="addVote({_id:task._id, stage:'To Editing'})">Approved</button>
                    
                </div>
            </ng-container>
        </div>
        <div class="col">
            <ng-container *ngIf="task?.stage === 'To Editing'">
                <div>
                    <P>{{task?.task}}</P><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userTwo"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userThree"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 3
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [(ngModel)]="userFour"
                        [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Approved by User 4
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline-primary" (click)="addVote({_id:task._id, stage:'To Promoting'})">Approved</button>
                    
                </div>
            </ng-container>
        </div>
        <div class="col">
            <ng-container *ngIf="task?.stage === 'To Promoting'">
                <div>
                    <P>{{task?.task}}</P><br>
                    <div class="form-floating">
                        <h1>Task is Approved Congratulaitons!</h1>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>